* { box-sizing: border-box; }

html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(75, 75, 75);
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
}

#container {
    position: relative;
    width: 100%;
    height: 100%;
}

#board {
    position: absolute;
    left: 0;
    top: 0;
    image-rendering: pixelated;
    pointer-events: none;
}

#zoom,
#camera {
    position: absolute;
    left: 0;
    top: 0;
    transform-origin: 0 0;
}

#view {
    image-rendering: pixelated;
    cursor: grab;
}